* {
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
}

/**::before
*::after{
    box-sizing: border-box;
}*/

@media (max-width: 1199px) {
    html {
      font-size: 16px;
    }
}
@media (max-width: 767px) {
    html {
      font-size: 14px;
    }
}  

body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    padding-right: 0 !important;
    word-wrap: normal;
    word-break: keep-all;
    color: #2b272c;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

html {
    overflow: auto !important;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.2;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  /**, ::after, ::before {
    box-sizing: border-box;
  }

/*.header::after*/
.header {
    z-index: 10;
    width: 100%;
    max-width: 1920px;
}

 h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 0;
    padding: 0;
    text-transform: none;
    font-family: "Philosopher", "Georgia", serif;
    font-weight: 400;
  }

.header_top{
    display: flex;
    padding: 15px 0;
    /*justify-content: space-between;*/
}


.header_top
.container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .header_top .container {
      flex-wrap: wrap;
      justify-content: center;
    }
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}
}

.main-logo{
    display: flex;
    align-items: center;
    /*margin-right: 20px; */
    margin-right: 20px;
}

.component-logo{
    /*height: 40px;
    margin-right: 15px;*/
    width: auto;
    height: 44px;
    margin-right: 15px;
}

.main-logo_job{
    display: block;
    color: #2b272c;
    font-size: 1 rem;
    font-weight: 550;
}

.main-logo_name{
    display: block;
    color: #2b272c;
    font-size: .9rem;
    letter-spacing: .5px;
}

.ur_adress_list{
    display: flex;
    align-items:flex-start;
}

/*.contact--link--adress{
    white-space: normal;
}*/

.list_adress{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    padding-left: 40px;
    white-space: nowrap;
    color: #2b272c;
    font-weight: 600;
}

.ur_adress_list .contact--link{
    margin-right: 20px;
}

.contact--link--adress::before{
    background-image: url(./img/adress.svg);
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.logo_adress{
    color: #7e7e7e;
    font-size: 0.9rem;
    font-weight: 400;
}

.text_adress{
    display: block;
    color: #2b272c;
    font-size: .9rem;
    letter-spacing: .5px
}

.ur_adress_list .list_adress{
    margin-right: 20px;
}

.contact--link--phone::before{
    background-image: url(./img/phone.svg);
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.logo_number{
    color: #7e7e7e;
    font-size: 0.9rem;
    font-weight: 400;
}

.contact_number{
    display: block;
}


.navigation{
    background-repeat: repeat;
    background-position: center center;
    background-size: 50px 50px;
    background-color: #2b272c;
}

.container,
.content_center {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.navigator-main{
    padding: 0!important;
    position: relative;
    display: flex;
    align-items: center;
}
@media (min-width: 768px){
.navigator-main {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
}

@media (min-width: 768px){
.navigator-main {
    display: flex!important;
    flex-basis: auto;
}
}
.glavnoe-meny{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_nav_item {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 1199px){
.main_nav_link {
    display: flex;
    align-items: center;
    height: 100%;
    }
}

.main_nav_link {
    position: relative;
    z-index: 1;
    display: block;
    padding: 20px;
    transition: all .3s linear;
    text-align: center;
    text-transform: none;
    color: #fff;
    font-size: 0.9rem;
}

.main_nav_item:hover {
    color:#fff;
    background-color:#5f0614;
}

.pg-kontact {
    padding: 40px 0;
    text-align: center;
    background-color: #5f0614;
    position: relative;
}

.pg-kontact::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(./img/kontact.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    opacity: .3;
}

.header:before {
    content: "";
    display: table;
    table-layout: fixed;
}

.header:after{
    clear:both;
}

.header:after{
    content: "";
    display: table;
    table-layout: fixed;
}

.container, .content-center {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-kontact {
    margin-bottom: 0;
    color: #fff;
}

h1, h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#content.site-content {
    padding-bottom: 0;
}

.site-content{
    padding: 60px 0 40px;
}

.site-content:before{
    content: "";
    display: table;
    table-layout: fixed;
}

.about_kontact{
    display: block;
    margin: 0;
}

.entry-content{
    margin: 0;
}

entry-content:before{
    content: "";
    display: table;
    table-layout: fixed;
}

.block_center{
    display: flex;
    justify-content: center;
}

.contacts-link--adress::before {
    background-image: url(./img/adress.svg);
}

.block-center .contacts-link {
    margin-bottom: 20px;
}

.contacts-link--adress {
    white-space: normal;
}

.koctact_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.koctact_list .contacts-link {
    margin: 20px;
}

.contacts-link--phone {
    flex-wrap: wrap;
}

.contacts-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    padding-left: 40px;
    white-space: nowrap;
    color: #2b272c;
    font-weight: 600;
}

.contacts-link--phone::before {
    background-image: url(./img/phone.svg);
}

.contacts-link::before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.contacts-link__name {
    color: #7e7e7e;
    font-size: 0.9rem;
    font-weight: 400;
}

.contacts-link--email::before {
    background-image: url(./img/email.svg);
}

.contacts-link {
    margin: 20px;
}

.contacts-link--time::before {
    background-image: url(./img/time.svg);
}

.entry-content:after{
    clear:both;
}

.entry-content:after{
    content: "";
    display: table;
    table-layout: fixed;
}

.site-content:after{
    clear: both;
}

.site-content{
    content: "";
    display: table;
    table-layout: fixed;
}


.site-footer{
    margin-top: auto;
}

.site-footer{
    content: "";
    display: table;
    table-layout: fixed;
}

.map-container{
    display:block;
}

.map-container {
    display: none;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.content-center--relative {
    position: relative;
}

.map-info {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 440px;
    padding: 40px;
    text-align: center;
    border: 3px solid #5f0614;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, .2);
    font-size: 1.2rem;
}

.map{
    width: 100%;
    height: 400px;
}

.site-content:after {
    clear: both;
}

.site-content:after{
    content: "";
    display: table;
    table-layout: fixed;
}

.site-footer:before{
    content: "";
    display: table;
    table-layout: fixed;
}

.site-footer:before {
    content: "";
    display: table;
    table-layout: fixed;
}

.sity-footer{
    margin-top:auto;
}

.section--main-form {
    position: relative;
    padding: 30px 0;
    background-image: url(./img/syte1.jpg);
}

.section--main-form .block-title {
    color: #fff;
}

.block-title {
    padding-top: 0;
    text-align: center;
   /* color: #2b272c;*/
}

h1, h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.main-form {
    display: flex;
    width: 100%;
}

.main-form__item{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 1%;
}

.main-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: #2b272c;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 0;
}

input, textarea {
    min-width: 1px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 20px;
    cursor: pointer;
    transition: all .3s linear;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    color: #fff;
    border: 1px solid #5f0614;
    border-radius: 0;
    background-color: #5f0614;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.main-form__input--message {
    height: 100%;
    margin-bottom: 0;
    resize: none;
}

.main-form__input {
    padding: 10px;
    text-align: center;
    color: #2b272c;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 0;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
    color: #2b272c;
    background-color: #fff;
}

.footer-bottom__link--privacy {
    font-size: 0.8rem;
}

.footer-bottom__link {
    display: block;
    margin-bottom: 5px;
}   

.footer-bottom{
    padding: 20px 0;
    text-align: center;
    color: #2b272c;
    background-color: #fff;
}

.site-footer:after {
    clear: both;
}
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}