* {
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
}

/**::before
*::after{
    box-sizing: border-box;
}*/

@media (max-width: 1199px) {
    html {
      font-size: 16px;
    }
}
@media (max-width: 767px) {
    html {
      font-size: 14px;
    }
}  

body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    padding-right: 0 !important;
    word-wrap: normal;
    word-break: keep-all;
    color: #2b272c;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

html {
    overflow: auto !important;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.2;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  /**, ::after, ::before {
    box-sizing: border-box;
  }

/*.header::after*/
.header {
    z-index: 10;
    width: 100%;
    max-width: 1920px;
}

 h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 0;
    padding: 0;
    text-transform: none;
    font-family: "Philosopher", "Georgia", serif;
    font-weight: 400;
  }

.header_top{
    display: flex;
    padding: 15px 0;
    /*justify-content: space-between;*/
}


.header_top
.container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .header_top .container {
      flex-wrap: wrap;
      justify-content: center;
    }
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}
}

.main-logo{
    display: flex;
    align-items: center;
    /*margin-right: 20px; */
    margin-right: 20px;
}

.component-logo{
    /*height: 40px;
    margin-right: 15px;*/
    width: auto;
    height: 44px;
    margin-right: 15px;
}

.main-logo_job{
    display: block;
    color: #2b272c;
    font-size: 1 rem;
    font-weight: 550;
}

.main-logo_name{
    display: block;
    color: #2b272c;
    font-size: .9rem;
    letter-spacing: .5px;
}

.ur_adress_list{
    display: flex;
    align-items:flex-start;
}

/*.contact--link--adress{
    white-space: normal;
}*/

.list_adress{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    padding-left: 40px;
    white-space: nowrap;
    color: #2b272c;
    font-weight: 600;
}

.ur_adress_list .contact--link{
    margin-right: 20px;
}

.contact--link--adress::before{
    background-image: url(./img/adress.svg);
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.logo_adress{
    color: #7e7e7e;
    font-size: 0.9rem;
    font-weight: 400;
}

.text_adress{
    display: block;
    color: #2b272c;
    font-size: .9rem;
    letter-spacing: .5px
}

.ur_adress_list .list_adress{
    margin-right: 20px;
}

.contact--link--phone::before{
    background-image: url(./img/phone.svg);
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.logo_number{
    color: #7e7e7e;
    font-size: 0.9rem;
    font-weight: 400;
}

.contact_number{
    display: block;
}


.navigation{
    background-repeat: repeat;
    background-position: center center;
    background-size: 50px 50px;
    background-color: #2b272c;
}

.container,
.content_center {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.navigator-main{
    padding: 0!important;
    position: relative;
    display: flex;
    align-items: center;
}
@media (min-width: 768px){
.navigator-main {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
}

@media (min-width: 768px){
.navigator-main {
    display: flex!important;
    flex-basis: auto;
}
}
.glavnoe-meny{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_nav_item {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 1199px){
.main_nav_link {
    display: flex;
    align-items: center;
    height: 100%;
    }
}

.main_nav_link {
    position: relative;
    z-index: 1;
    display: block;
    padding: 20px;
    transition: all .3s linear;
    text-align: center;
    text-transform: none;
    color: #fff;
    font-size: 0.9rem;
}

.main_nav_item:hover {
    color:#fff;
    background-color:#5f0614;
}
/*

Другая часть сайта

*/



.main_photo{
    position: relative;
    padding: 120px 0;
    background-color: #2b272c;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("./img/main_phote.jpg");
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("./img/main_phote.jpg");
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-size: auto, cover;
  }
@media (max-width: 991px){
.main_phote {
    padding: 40px 0;
}
}
@media (max-width: 1199px){
.main_phote {
    padding: 80px 0;
}
}
.main_info{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.main_name{
    text-align: center;
    color: #fff;
    font-size: 2.8 rem;
}
.main_name_info{
    display: block;
    font-size: 1.5rem;
}

.p{
    margin: 0 0 20px;
}
.main_name_text{
    color: #fff;
    line-height: 1.5;
}

.button_main{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 20px;
    cursor: pointer;
    transition: all .3s linear;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    color: #fff;
    border: 1px solid#2b272c;
    border-radius: 0;
    background-color:#2b272c;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.button_main:hover {
    color:#2b272c;
    background-color:#5f0614;
}

.content_main:before{
    content: "";
    display: table;
    table-layout: fixed;
  }
/*
        Новый блок
  
*/

 #content.site-content {
    padding: 0;
 }

 .content_main
 .container{
    max-width: 1920px;
    padding: 0;
 }

.uslugi_main{
    display: block;
    margin: 0;
}
 
 /*.section {
    padding: 2rem 0;
}*/
.block-title {
    padding-top: 0;
    text-align: center;
    color: #2b272c;
}
h1, h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    position: relative;
    margin-top: 0;
    padding: 0;
    text-transform: none;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    list-style-type: none;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.service-list__item {
    width: 48%;
    margin: 1%;
    transition: all .3s linear;
    background-color: #2b272c;
}

.service-list__pic {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
}

.service-list__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img {
    vertical-align: middle;
    border-style: none;
}
img {
    height: auto;
    max-width: 100%;
}
img {
    border: 0;
}

.service-list__info {
    padding: 30px 20px;
    text-align: center;
}
.service-list__title {
    margin: 0;
    margin-bottom: 20px;
    transition: all .3s linear;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}
.service-list__text {
    margin-bottom: 20px;
    color: #fff;
    font-size: 0.9rem;
}
a {
    transition: all .3s linear;
    text-decoration: none !important;
}

.services-list__btn .btn {
    background-color: #fff;
    color: #2b272c;
}
.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 20px;
    cursor: pointer;
    transition: all .3s linear;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    border-radius: 0;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.btn::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
   /* content: "";*/
}
.btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    /*content: "";*/
}
/*
    НОВЫЙ БЛОК
*/

/*.section {
    padding: 2rem 0;
    display: block;
}*/

.about_me{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; 
}

.about_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.about_list__item{
    display: flex;
    width: 48%;
    margin: 1%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    padding: 10px;
    border-top: 5px solid #5f0614;
   flex-grow: 1;
}

.about_list_pic{
    width: 40%;
}

.about_list_img {
    width: 100%;
    height: auto;
}

.about_list_title{
   /* padding: 20px;*/
    text-align: left;
    width: 60%;
}

b {
    font-weight: bolder;
}

.about_list_title {
    color: #000;
}

p {
    margin: 0 0 20px;
}

.styled_list{
    margin-bottom: 20px;
    padding-left: 0;
    list-style-type: none;
    text-align: left;
}

.styled_list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
}

.about_list_text {
    padding: 20px;
    text-align: left;
    width: 60%;
}

.btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 20px;
    cursor: pointer;
    transition: all .3s linear;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    color: #fff;
    border: 1px solid #5f0614;
    background-color: #5f0614;
}

.site-footer::before{
    content: "";
    display: table;
    table-layout: fixed;
  }

.site-footer {
    margin-top: auto;
}

.section--main-form {
    position: relative;
    padding: 30 px;
    background-image: url(./img/syte1.jpg);
}

.section {
    padding: 2rem 0;
}

.section--main-form .block-title {
    color:#fff;
}



.block-title{
    padding-top: 0;
    text-align: center;
}

.main-form {
    display: flex;
    width: 100%;
}

.main-form__item {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 1%;
}

.main-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color:#000;
    border: 1px solid transparent;
    background-color:#fff;
    border-radius: 0;
}

input {
    min-width: 1px;
}

input {
    overflow: visible;
}

input {
    margin: 0;

}

.main-form__input--message {
    height: 100%;
    margin-bottom: 0;
    resize: none;
}
/*

*/
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
   /* z-index: 1;*/
}

.feedback__list {
    max-width: 980px;
    z-index: 2;
}

/*element.style {
    transition-duration: 0ms;
    transform: translate3d(-2940px, 0px, 0px);
}*/

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing:content-box;
}

.feedback__item {
    padding: 20px 105px;
    text-align: center;
   /* width: 100%;*/
    max-width: 980px;
}

.swiper-slide {
    /*flex-shrink: 0;*/
    height: 100%;
    /*width: 100%;*/
    transition-property: transform;
    position: relative;
}

.feedback__quote {
    height: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, .2);
    padding: 10px;
    border-bottom: 4px solid #5f0614;
}

.feedback__info{
    padding: 30px;
}

.feedback__quote::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    /*background-image: url(./img/quote.svg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #5f0614;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.feedback__time {
    color: #fff;
    display: block;
    /*content: "";*/
    position: absolute;
    left: 40px;
    bottom: -20px;
    background-color: #5f0614;
    padding: 15px 20px;
    border: 4px solid #fff;
}

p {
    margin: 0 0 20px;
}

.feedback__pagination {
    display: flex;
    justify-content: center;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.feedback__pagination {
    display: flex;  
    justify-content: center;
}

.feedback__pagination .swiper-pagination-bullet {
    margin-right: 5px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    /*background: #007aff;*/
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}


.content_main::after{
   clear:both;
}

.content_main::after{
    content: "";
    display: table;
    table-layout: fixed;  
}

.site-footer:before{
    content: "";
    display: table;
    table-layout: fixed;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
    color: #2b272c;
    background-color: #fff;
}

.footer-bottom__link--privacy {
    font-size: 0.8rem;
}

.footer-bottom__link {
    display: block;
    margin-bottom: 5px;
}   

.footer-bottom{
    padding: 20px 0;
    text-align: center;
    color: #2b272c;
    background-color: #fff;
}

.site-footer:after {
    clear: both;
}
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}